*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color:green;   
}
#clock{
    font-size: 150px;
    border: 15px solid green;
    border-radius: 40px;
}
#timer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#msg{
    height: 200px;
    font-size: 50px;
}